.header {
  height: 400px;
  width: 100vw;
  background-image: url('http://123.207.40.28/card15.jpg');
}
.content-panel {
  width: 800px;
  padding: 24px 36px;
  height: fit-content;
  min-height: 600px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(134, 133, 133);
  margin: -50px auto 50px auto;
}
