.header-content {
  height: 100vh;
  width: 100vw;
  background-image: url('http://123.207.40.28/banner8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
}

.main-content {
  height: fit-content;
  min-height: 700px;
  padding: 10px 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dream-card {
  height: fit-content;
  width: 100%;
  box-shadow: 0 0 10px #d3d3d3;
  border-radius: 10px;
  padding: 24px 0;
  margin: 10px 0;
}

.cards-wrap {
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  grid-row-gap: 20px;
}

.card {
  width: 350px;
  height: 390px;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: transform 0.5s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.card:hover {
  transform: scale(1.03); /* 放大 */
}

.card-top {
  width: 100%;
  height: 220px;
  position: relative;
}

.card-top-img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-top-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f9f9f9;
}

.card-middle {
  color: #1a1a1a;
  height: fit-content;
  font-weight: lighter;
}

.card-middle-content {
  line-height: 1.2; /* 设置行高，根据需要进行调整 */
  height: 3.6em; /* 计算行高乘以行数，确保文字只占三行，根据需要进行调整 */
  overflow: hidden;
  word-break: break-all;
  text-align: justify;
  display: -webkit-box;
  text-overflow: ellipsis;  /* 超出文本展示为省略号 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 设置最大行数为三行 */
}

.card-footer {
  height: 50px;
}

.card-footer-tab {
  height: fit-content;
  background: linear-gradient(to right, #edb65b, #020202);
  width: fit-content;
  border-radius: 15px;
  color: #f9f9f9;
}

