.each-comment-wrap {
    display: flex;
}
.each-comment-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid;
}
.each-comment-content {
    width: calc(100% - 70px);
}
.text-green {
    color: #3cf145;
}
.text-red {
    color: #fc4640;
}
.border-wrap {
    border: 1px solid #eae9e9;
    border-top: 0;
    border-right: 0;
}
.each-comment-sub-content {
    width: calc(100% - 40px);
}
.each-comment-sub-avatar{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid;
}
