.top-background {
    height: 550px;
    width: 100vw;
    background-image: url('http://123.207.40.28/card1.jpg')
}
.hot-comment-tab {
    width: 1000px;
    padding: 24px 36px;
    height: fit-content;
    min-height: 200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(134, 133, 133);
    margin: -50px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot-comment {
    position: relative;
    width: 730px;
    max-width: 80%;
    border: 2px solid #797979;
    border-top: 0;
    text-align: center;
    margin: 80px auto;
}
.hot-comment-top-left {
    position: absolute;
    left: 0;
    height: 2px;
    width: 27%;
    background-color: #797979;
}
.hot-comment-top-right{
    right: 0;
    position: absolute;
    height: 2px;
    width: 27%;
    background-color: #797979;
}
.hot-comment-title {
    font-size: 32px;
    margin-top: -25px;
    color: deepskyblue;
    font-weight: bold;
}
.edit-comment {
    width: 1000px;
    padding: 24px 36px;
    height: fit-content;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(134, 133, 133);
    margin: 50px auto 50px auto;
}
